server:
  port: 8085

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/edu_search?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: auto
        prefetch: 1
  
  data:
    redis:
      host: localhost
      port: 6379
      database: 4
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

nacos:
  server-addr: localhost:8848
  discovery-ip: 127.0.0.1

elasticsearch:
  uris: http://localhost:9200
